name: CD com Docker para AWS S3

on:
  push:
    branches:
      - main

jobs:
  # Entrega Contínua (CD)
  cd:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  # Apenas na branch principal

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # Build do container que contém o AWS CLI
      - name: Build da imagem Docker de deploy
        run: docker build -t deploy-s3:latest .

      # Executar o container e passar as chaves AWS como variáveis
      - name: Executar deploy dentro do container
        run: |
          docker run --rm \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -e AWS_DEFAULT_REGION=us-east-1 \
            deploy-s3:latest
